        body{
            font-family: "Roboto", cursive;
            /* fonte externa */
        }

        p{
            color:blueviolet;
            font-family: "Roboto", cursive;
        }

        #paragrafo{
            color:aqua;
            font-size: 20px;
        }

        .paragrafo{
            color:blue;
            font-size: 20px;
            font-weight: bold;
        }
