body{
    font-family: "Merriweather", serif;      
    background-image: url("fundo1.png");
    background-size: cover;
}

p{
    color:black;
    font-family: "Merriweather", serif;       
}

#paragrafo{
    color:aqua;
    font-size: 20px;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.lista{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo{
    color:blue;
    font-size: 20px;
    font-family: "Merriweather", serif;       
}

button{
    background-color: plum;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.cabecalho{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.logo{
    height: 100px;
    border-radius: 999px;
    
}

.logo2{
    height: 100px;
    border-radius: 999px;   
}
.container{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.menu{
    display: flex;
    flex-direction: column;
    align-items: center;               
    justify-content: space-between;    
    background-color: white;
    height: 90vh;                      
    width: 280px;                      
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;   
    }


    .menu-items {
        width: 80%;
        padding: 15px 10px;
        margin: 5px 0;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
        color: #333;
        text-decoration: none;
        transition: 0.3s;
        transition: background-color 0.3s, transform 0.2s;

    }

    .menu-items:hover {
        background-color: #333;
        color: #fff;
    }
